* {
    margin: 0;
}

:root {
    --darkgray: rgb(240, 240, 240);
    --silver: #A5CCD1;
    --color: #BCD4DE;

}

@media(min-width:250px) {
    .fixed {
        display: none;
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        background-color: var(--silver);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: .4s ease;
    }

    header .logo a {
        position: relative;
        left: 10px;
        display: flex;
        gap: 10px;
        text-decoration: none;
        color: black;
    }

    header .header-midlle,
    header .right-content {
        display: none;
    }

    .bfclick svg {
        width: 30px;
        height: 30px;
        position: relative;
        right: 15px;
    }

    header .logo a img {
        width: 30px;
    }

    .media {
        background-color: #EAEAEA;
        font-family: sans-serif;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow-x: hidden;
    }

    h1 {
        margin: 10px;
    }

    .boxn1 {
        margin-top: 55px !important;
    }



    .box {
        background-color: transparent;
        border-radius: 10px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        margin: 5px;
        width: 100%;
        height: max-content;
        padding: 10px;
        transform: translateX(200%);
        transition: transform 0.4s ease;
    }

    .box:nth-of-type(even) {
        transform: translateX(-200%);
    }

    .box.show {
        transform: translateX(0);
    }

    footer {
        position: fixed;
        bottom: 0;
        z-index: 10;
        background-color: var(--silver);
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    footer .icons a img {
        width: 40px;
        height: 40px;
        object-fit: contain;

    }

    video {
        width: 100% !important;
        height: 250px !important;
        object-fit: contain;
    }



    .video-dimensions,
    .video2-dimensions,
    .vjs_video_1131-dimensions,
    .video-js {
        width: 100% !important;
        height: 250px !important;
        margin-left: 5px;
    }

    .topboxes {
        background-color: transparent;
        border-radius: 10px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        margin: 10px;
        width: 100%;
        height: max-content;
        padding: 10px;
        transform: translateX(0%);
        transition: transform 0.4s ease;
    }
}

@media(min-width:600px) {
    header {
        height: 60px;
    }

    .box {
        transform: translateX(0);
    }

    .box:nth-of-type(even) {
        transform: translateX(0%);
    }

    main {
        display: flex;
        justify-content: center;
        position: relative;
        left: 16px;
        top: 10px;
    }

    main .media {
        width: 500px;
    }

    footer {
        display: none;
    }

    .fixed {
        position: fixed;
        left: 0;
        top: 60px;
        z-index: 10;
        background-color: var(--silver);
        width: 60px;
        height: max-content;
        display: grid;
        place-items: center;
        gap: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: .4s ease;

    }



    .fixed .icons a img {
        width: 40px;
        height: 40px;
        object-fit: contain;

    }

    .lastbox {
        margin-bottom: 10px !important;
    }
}

@media (min-width:900px) {


    header .right-content {
        display: block;
    }

    header .header-midlle {
        position: relative;
        left: 80px;
    }

    header .bfclick {
        display: none;
    }

    header .right-content {
        display: flex;
        gap: 15px;
        position: relative;
        right: 35px;
    }

    main {

        left: 0;
        top: 10px;
    }

    main .media {
        width: 800px;
    }



}

@media(min-width:1050px) {

    header .header-midlle {
        display: block;
        position: relative;
        left: 80px;
    }
}

.lastbox {
    margin-bottom: 60px;
}


.hamburger {
    /* display: none; */
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--silver);
    left: 100%;
    top: 0;
    transition: .5s ease;
    z-index: 100;


}

.hamburger .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 10px;

}

.hamburger .header .left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    left: 20px;

}

.hamburger .header .left-side img {
    width: 40px;
    height: 40px;
    object-fit: contain;

}

.hamburger .header .left-side p {
    margin: 0;
}

.hamburger .header .close {
    position: relative;
    right: 15px;
}

.hamburger .header .close svg {
    width: 40px !important;
    height: 40px !important;
}

.hamburger .language-burger {
    position: relative;

    display: flex;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.hamburger .main-burger {
    position: relative;
    top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.hamburger .main-burger div {
    height: 30px;
}

.hamburger .main-burger div a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    height: 100%;
}

.hamburger .language-burger a {
    text-decoration: none;
    color: #0a3251;

}

.hamburger .language-burger .box a .style-el {
    cursor: pointer;
}

.movetoright {
    left: 100% !important;

}

.movetoleft {
    left: 0% !important;

}

.right-content .change-language .options {
    display: none;
    position: absolute;
    z-index: 51;
    background-color: #fff;
    width: 115px;
    box-shadow: 0 13px 16px 0 rgba(0, 0, 0, .1);
    transition: all .2s ease-in-out;
    border: solid 1px #f5f5f5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    padding: 10px;
    right: -26px;
    top: 30px;
    height: 100px;

}

.right-content .navigation a {
    color: black;
    text-decoration: none;
}

.right-content .navigation a:hover {
    color: #0a3251;
    border-bottom: solid 1px #0a3251;
}

.right-content .change-language .options .style-el {
    padding-top: 10px;
    color: #99a8b4 !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.right-content .change-language .options .style-el a {
    color: #99a8b4;
    text-decoration: none;
}

.right-content .change-language .options .style-el a:hover {
    color: #0a3251 !important;
}



.right-content .change-language:focus-within>.options,
.right-content .change-language:hover>.options {
    display: block;
    transition: all .2s ease-in-out;
}

.right-content .change-language {
    color: #99a8b4 !important;
    width: 112px;
    text-align: end;
    height: 30px;
    cursor: pointer;
    align-items: center;
    border-left: #99a8b4 solid 0.5px !important;
    position: relative;
}



.right-content .change-language .change img {
    width: 12px;
    height: 12px;
    gap: 10px;
    transition: all .2s ease-in-out;


}

.right-content .change-language:focus-within>.change img,
.right-content .change-language:hover>.change img {
    transform: rotate(-180deg);
    transition: all .2s ease-in-out;

}


.scrollUp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--silver);
    position: fixed;
    bottom: 90px;
    right: 40px;
    transition: .4s ease;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
    display: grid;
    place-items: center;

}

.scrollUp img {
    transform: rotate(180deg);
}

.active {
    border-bottom: #0a3251 solid 1px;
}